<form action="/todos" method="POST">
<input type="text" placeholder="name" name="name">
<button type="sumbit">Create</button>
</form>
<img src="https://assets-lighthouse.alphacamp.co/uploads/user/photo/8554/medium___.jpg" alt="">